.desktop #impress > div:first-of-type {
	margin-left: -2205px;
	margin-top: -7000px;
}

.desktop #mobile {
	display: none;
}

.mobile #impress {
	display: none;
};

.tablet #impress {
	display: none;
}

#controversy-title-bar, #discourse-title-bar, #annotation-title-bar {
	color: white;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	font-weight: 100;
	margin-bottom: 0;
}

li {
	counter-increment: num;
}

.desktop .side-nav > li:before {
	background-color: red;
	color: white;
	content: counter(num);
	padding: 1px 5px;
	margin-right: 5px;
}

#slide-out > li.active-slide {
	background-color: rgba(255,0,0, .3);
}

/*.desktop #impress {
	padding-left: 240px;
}

@media only screen and (max-width: 600px) {
	.desktop #impress {
		padding-left: 0;
	}
}*/

.preloader-wrapper {
	z-index: 1000;
}

.preloader-vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	width: 64px;
	height: 64px;
}

#slide-out .title-box {
	background-color: #323232;
	padding: 10px 15px;
	font-size: 1rem;
	font-weight: 300;
	color: #fff;
	word-wrap: break-word;
	width: 360px;
}

#slide-out .title-box h1 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;	
	font-size: 1.5rem;
	width: 300px;
}

#slide-out .title-box p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;	
}

#slide-out .title-box .info-left {
	display: inline-block;
	width: 200px;
}

#slide-out .title-box .pic-right {
	display: inline-block;
	margin-right: 20px;
	float: right;
	width: 25%;
}

#slide-out .button-collapse {
	color: white;
	float: right;
}

#hamburger {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #323232;
	padding: 10px 15px;
	font-size: 1em;
	font-weight: 300;
	color: #fff;
	visibility: hidden;
	z-index: 1000;
}
